
@{
    ViewBag.Title = "BK-InfoTech";
    Layout = "~/Views/Shared/Layout/_DashboardLayout.cshtml";

}
<div class="row">
    <div class="col-md-3" style="border-right:2px solid red;">        
        <div id="specialization-partialView"></div>
    </div>
    <div class="col-md-9">        
        <div id="doctor-partialview"></div>
    </div>
</div>

<script src="~/Scripts/CustomScript/dashboard-detail.js"></script>



