@{ 
    ViewBag.Title = "Health Care";
}
<div class="jumbotron">
    <h1>Health Care</h1>
    <p class="lead">Let's Together Serve Humanity.</p>
    <p>@*<a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>*@</p>
</div>

